services:
  basekit:
    image: openagbot-basekit:latest
    container_name: basekit_dev
    network_mode: host
    privileged: true
    user: "1000:1000"
    environment:
      - DISPLAY=${DISPLAY}
      - HOME=/tmp
      - ROS_HOME=/tmp/.ros
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../src:/workspace/src:rw
      - ../install:/workspace/install:rw
      - ../build:/workspace/build:rw
      - ../log:/workspace/log:rw
      - /dev:/dev:rw
    working_dir: /workspace
    command: >
      /bin/bash -c "
      source /opt/ros/humble/setup.bash && 
      if [ -f install/setup.bash ]; then source install/setup.bash; fi && 
      ros2 launch basekit_launch basekit_launch.py"
    stdin_open: true
    tty: true