services:
  # The AgBot ROS Application
  agbot:
    image: openagbot:dev
    container_name: openagbot_app
    network_mode: host
    privileged: true
    volumes:
      - /dev:/dev
      - .:/open_agbot_ws  # Bind mount for dev-mode
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - MONGO_HOST=localhost
    command: bash -c "source install/setup.bash && ros2 launch basekit_launch basekit_launch.py"
    depends_on:
      - mongodb

  # Database for Topological Navigation
  mongodb:
    image: mongo:6.0
    container_name: agbot_db
    network_mode: host
    volumes:
      - mongodb_data:/data/db
    restart: always

volumes:
  mongodb_data:
