version: '3.8'

services:
  agbot:
    image: openagbot:dev
    container_name: openagbot_app
    network_mode: host
    privileged: true
    # Resource limits to prevent the "GPS Unplugged" infinite loop from freezing the Host
    deploy:
      resources:
        limits:
          cpus: '1.5'  # Caps total container usage to 150% (75% of 2 cores)
    # Loads the GPS_PORT and MCU_PORT from your .env file
    env_file:
      - .env
    volumes:
      - /dev:/dev
      - .:/workspace  # Bind mount for dev-mode
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - MONGO_HOST=localhost
      - GPS_PORT=${GPS_PORT}
      - MCU_PORT=${MCU_PORT}
    # Passing variables directly to the ROS2 launch system
    command: >
      bash -c "source install/setup.bash && 
      if [ "$GPS_PORT" != "virtual" ]; then ros2 launch basekit_launch basekit_launch.py; else ros2 run basekit_driver basekit_driver_node --ros-args -r __node:=controller -p use_sim_time:=true; fi 
      gps_port:=$GPS_PORT 
      mcu_port:=$MCU_PORT"
    depends_on:
      - mongodb

  # Database for Topological Navigation
  mongodb:
    image: mongo:6.0
    container_name: agbot_db
    network_mode: host
    volumes:
      - mongodb_data:/data/db
    restart: always

volumes:
  mongodb_data:
